In [1]:
# import libraries
import pandas as pd
import json

In [2]:
# Load the file
file_path = 'files/import - pilotlog_mcc.json'

with open(file_path, 'r', encoding='utf-8') as file:
    json_data = file.read()

# Remove double-escaping
json_data = json_data.replace('\\"', '"')

# Load JSON data
try:
    data = json.loads(json_data)
except json.JSONDecodeError as e:
    print(f"Error decoding JSON: {e}")

In [3]:
# Length of the data
len(data)

5479

In [4]:
# make data a pandas dataframe
df = pd.DataFrame(data)

In [5]:
df.head()

,user_id,table,guid,meta,platform,_modified
0,125880,Aircraft,00000000-0000-0000-0000-000000000367,"{'Fin': '', 'Sea': False, 'TMG': False, 'Efis'...",9,1616317613
1,125880,Aircraft,00000000-0000-0000-0000-000000000368,"{'Fin': '', 'Sea': False, 'TMG': False, 'Efis'...",9,1616317613
2,125880,Aircraft,00000000-0000-0000-0000-000000000369,"{'Fin': '', 'Sea': False, 'TMG': False, 'Efis'...",9,1616317613
3,125880,Aircraft,00000000-0000-0000-0000-000000000370,"{'Fin': '', 'Sea': False, 'TMG': False, 'Efis'...",9,1616317613
4,125880,Aircraft,00000000-0000-0000-0000-000000000371,"{'Fin': '', 'Sea': False, 'TMG': False, 'Efis'...",9,1616317613

In [9]:
df.iloc[277].meta

{'City': '',
 'AFCat': 7,
 'AFFAA': '',
 'Notes': '',
 'AFCode': 'E5C0906C-0B44-43F5-801A-38CE706E9005',
 'AFIATA': '',
 'AFICAO': 'KX63',
 'AFName': 'DR Hermenegildo Ortiz',
 'TZCode': 55,
 'Latitude': 0,
 'ShowList': True,
 'UserEdit': True,
 'AFCountry': 177,
 'Longitude': 0,
 'NotesUser': '',
 'RegionUser': 0,
 'ElevationFT': -99,
 'Record_Modified': 1681419296}

In [6]:
df.describe()

        user_id     platform     _modified
count    5479.0  5479.000000  5.479000e+03
mean   125880.0     8.957291  1.616696e+09
std         0.0     0.504454  4.954723e+06
min    125880.0     3.000000  1.616318e+09
25%    125880.0     9.000000  1.616318e+09
50%    125880.0     9.000000  1.616318e+09
75%    125880.0     9.000000  1.616318e+09
max    125880.0     9.000000  1.697745e+09

In [7]:
# check unique table values
df['table'].unique()

array(['Aircraft', 'aircraft', 'Airfield', 'airfield', 'Flight', 'flight',
       'imagepic', 'LimitRules', 'myQuery', 'myQueryBuild', 'Pilot',
       'pilot', 'Qualification', 'SettingConfig'], dtype=object)

In [8]:
# dict keys of Aircraft
aircraft_meta1 = df[df['table'] == 'Aircraft']['meta'].iloc[0].keys()
aircraft_meta1

dict_keys(['Fin', 'Sea', 'TMG', 'Efis', 'FNPT', 'Make', 'Run2', 'Class', 'Model', 'Power', 'Seats', 'Active', 'Kg5700', 'Rating', 'Company', 'Complex', 'CondLog', 'FavList', 'Category', 'HighPerf', 'SubModel', 'Aerobatic', 'RefSearch', 'Reference', 'Tailwheel', 'DefaultApp', 'DefaultLog', 'DefaultOps', 'DeviceCode', 'AircraftCode', 'DefaultLaunch', 'Record_Modified'])

In [9]:
# dict keys of aircraft
aircraft_meta2 = df[df['table'] == 'aircraft']['meta'].iloc[0].keys()
aircraft_meta2

dict_keys(['Fin', 'Sea', 'TMG', 'Efis', 'FNPT', 'Make', 'Run2', 'Class', 'Model', 'Power', 'Seats', 'Active', 'Kg5700', 'Rating', 'Company', 'Complex', 'CondLog', 'EngType', 'FavList', 'Category', 'EngGroup', 'HighPerf', 'SubModel', 'Aerobatic', 'RefSearch', 'Reference', 'Tailwheel', 'DefaultApp', 'DefaultLog', 'DefaultOps', 'DeviceCode', 'AircraftCode', 'DefaultLaunch', 'Record_Modified'])

In [10]:
# difference between Aircraft and aircraft tables
aircraft_meta2 - aircraft_meta1

{'EngGroup', 'EngType'}

In [11]:
flight_meta1 = df[df['table'] == 'Flight']['meta'].iloc[0].keys()
flight_meta1

dict_keys(['PF', 'Pax', 'Fuel', 'DeIce', 'Route', 'ToDay', 'minU1', 'minU2', 'minU3', 'minU4', 'minXC', 'ArrRwy', 'DepRwy', 'LdgDay', 'LiftSW', 'P1Code', 'P2Code', 'P3Code', 'P4Code', 'Report', 'TagOps', 'ToEdit', 'minAIR', 'minCOP', 'minIFR', 'minIMT', 'minPIC', 'minREL', 'minSFR', 'ArrCode', 'DateUTC', 'DepCode', 'HobbsIn', 'Holding', 'Pairing', 'Remarks', 'SignBox', 'ToNight', 'UserNum', 'minDUAL', 'minEXAM', 'CrewList', 'DateBASE', 'FuelUsed', 'HobbsOut', 'LdgNight', 'NextPage', 'TagDelay', 'Training', 'UserBool', 'UserText', 'minINSTR', 'minNIGHT', 'minPICUS', 'minTOTAL', 'ArrOffset', 'DateLOCAL', 'DepOffset', 'TagLaunch', 'TagLesson', 'ToTimeUTC', 'ArrTimeUTC', 'BaseOffset', 'DepTimeUTC', 'FlightCode', 'LdgTimeUTC', 'FuelPlanned', 'NextSummary', 'TagApproach', 'AircraftCode', 'ArrTimeSCHED', 'DepTimeSCHED', 'FlightNumber', 'FlightSearch', 'Record_Modified'])

In [12]:
flight_meta2 = df[df['table'] == 'flight']['meta'].iloc[0].keys()
flight_meta2

dict_keys(['PF', 'Pax', 'Fuel', 'Cargo', 'DeIce', 'Route', 'ToDay', 'minU1', 'minU2', 'minU3', 'minU4', 'minXC', 'ArrRwy', 'DepRwy', 'LdgDay', 'LiftSW', 'P1Code', 'P2Code', 'P3Code', 'P4Code', 'Report', 'TagOps', 'ToEdit', 'minAIR', 'minCOP', 'minIFR', 'minIMT', 'minPIC', 'minREL', 'minSFR', 'ArrCode', 'DateUTC', 'DepCode', 'HobbsIn', 'Holding', 'Pairing', 'Remarks', 'SignBox', 'ToNight', 'UserNum', 'minDUAL', 'minEXAM', 'CrewList', 'DateBASE', 'FuelUsed', 'HobbsOut', 'LdgNight', 'NextPage', 'TagDelay', 'Training', 'UserBool', 'UserText', 'minINSTR', 'minNIGHT', 'minPICUS', 'minTOTAL', 'ArrOffset', 'DateLOCAL', 'DepOffset', 'TagLaunch', 'TagLesson', 'ToTimeUTC', 'ArrTimeUTC', 'BaseOffset', 'DepTimeUTC', 'FlightCode', 'LdgTimeUTC', 'FuelPlanned', 'NextSummary', 'TagApproach', 'AircraftCode', 'ArrTimeSCHED', 'DepTimeSCHED', 'FlightNumber', 'FlightSearch', 'Record_Modified'])

In [13]:
flight_meta2 - flight_meta1

{'Cargo'}

In [14]:
# dict keys of airfield
airfield_meta1 = df[df['table'] == 'airfield']['meta'].iloc[0].keys()
airfield_meta1

dict_keys(['City', 'AFCat', 'AFFAA', 'Notes', 'AFCode', 'AFIATA', 'AFICAO', 'AFName', 'TZCode', 'Latitude', 'ShowList', 'UserEdit', 'AFCountry', 'Longitude', 'NotesUser', 'RegionUser', 'ElevationFT', 'Record_Modified'])

In [15]:
# dict keys of Airfield
airfield_meta2 = df[df['table'] == 'Airfield']['meta'].iloc[0].keys()
airfield_meta2

dict_keys(['AFCat', 'AFCode', 'AFIATA', 'AFICAO', 'AFName', 'TZCode', 'Latitude', 'ShowList', 'AFCountry', 'Longitude', 'NotesUser', 'RegionUser', 'ElevationFT', 'Record_Modified'])

In [16]:
airfield_meta1 - airfield_meta2

{'AFFAA', 'City', 'Notes', 'UserEdit'}

In [17]:
# dict keys of pilot
pilot_meta1 = df[df['table'] == 'pilot']['meta'].iloc[0].keys()
pilot_meta1

dict_keys(['Notes', 'Active', 'Company', 'FavList', 'UserAPI', 'Facebook', 'LinkedIn', 'PilotRef', 'PilotCode', 'PilotName', 'PilotEMail', 'PilotPhone', 'Certificate', 'PhoneSearch', 'PilotSearch', 'RosterAlias', 'Record_Modified'])

In [18]:
# dict keys of Pilot
pilot_meta2 = df[df['table'] == 'Pilot']['meta'].iloc[0].keys()
pilot_meta2

dict_keys(['Notes', 'Active', 'Company', 'FavList', 'UserAPI', 'Facebook', 'LinkedIn', 'PilotRef', 'PilotCode', 'PilotName', 'PilotEMail', 'PilotPhone', 'Certificate', 'PhoneSearch', 'PilotSearch', 'RosterAlias', 'Record_Modified'])

In [19]:
# check if there is a difference in keys between pilot and Pilot tables
pilot_meta1 == pilot_meta2

True

In [20]:
# join table values
df['table'] = df['table'].replace(['Aircraft', 'Airfield', 'Flight', 'Pilot'], ['aircraft', 'airfield', 'flight', 'pilot'])

In [21]:
# drop unused rows for the export
df = df[~df['table'].isin(['imagepic', 'LimitRules', 'myQuery', 'myQueryBuild','Qualification', 'SettingConfig'])]
df.table.unique()

array(['aircraft', 'airfield', 'flight', 'pilot'], dtype=object)

In [22]:
# drop unused columns for the export
df.drop(['user_id', 'platform', '_modified'], axis=1, inplace=True)

In [23]:
df.head()

,table,guid,meta
0,aircraft,00000000-0000-0000-0000-000000000367,"{'Fin': '', 'Sea': False, 'TMG': False, 'Efis'..."
1,aircraft,00000000-0000-0000-0000-000000000368,"{'Fin': '', 'Sea': False, 'TMG': False, 'Efis'..."
2,aircraft,00000000-0000-0000-0000-000000000369,"{'Fin': '', 'Sea': False, 'TMG': False, 'Efis'..."
3,aircraft,00000000-0000-0000-0000-000000000370,"{'Fin': '', 'Sea': False, 'TMG': False, 'Efis'..."
4,aircraft,00000000-0000-0000-0000-000000000371,"{'Fin': '', 'Sea': False, 'TMG': False, 'Efis'..."

In [24]:
# final shape of dataframe
df.shape

(5286, 3)

In [25]:
# Separate the unique 'meta' values into a new DataFrame
meta_df = pd.json_normalize(df['meta'])

In [26]:
meta_df.head()

,Fin,Sea,TMG,Efis,FNPT,Make,Run2,Class,Model,Power,...,LinkedIn,PilotRef,PilotCode,PilotName,PilotEMail,PilotPhone,Certificate,PhoneSearch,PilotSearch,RosterAlias
0,,False,False,False,0.0,Cessna,False,5.0,C150,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,,False,False,False,0.0,Cessna,False,5.0,C150,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,,False,False,False,0.0,Cessna,False,5.0,C150,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,,False,False,False,0.0,Cessna,False,5.0,C150,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,,False,False,False,0.0,Cessna,False,5.0,C150,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
meta_df.describe()

,FNPT,Class,Power,Seats,CondLog,Category,DefaultApp,DefaultLog,DefaultOps,DeviceCode,...,DepOffset,ToTimeUTC,ArrTimeUTC,BaseOffset,DepTimeUTC,LdgTimeUTC,FuelPlanned,ArrTimeSCHED,DepTimeSCHED,Cargo
count,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.0,270.000000,...,4492.000000,4492.000000,4492.000000,4492.000000,4492.000000,4492.000000,4492.0,4492.000000,4492.000000,17.0
mean,0.251852,4.985185,4.622222,29.333333,64.522222,1.700000,65.348148,1.392593,0.0,1.111111,...,82.925200,1.445013,751.612867,86.332814,671.940338,1.232858,0.0,-0.000890,-0.000890,0.0
std,1.909548,0.243432,2.175793,66.603192,19.307275,0.459109,148.377110,0.685444,0.0,0.326447,...,96.979733,38.409852,405.441657,71.568889,379.485783,35.241630,0.0,0.029831,0.029831,0.0
min,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.0,1.000000,...,-480.000000,-1.000000,0.000000,-99.000000,0.000000,-1.000000,0.0,-1.000000,-1.000000,0.0
25%,0.000000,5.000000,1.000000,0.000000,69.000000,1.000000,0.000000,1.000000,0.0,1.000000,...,60.000000,0.000000,465.000000,60.000000,385.000000,0.000000,0.0,0.000000,0.000000,0.0
50%,0.000000,5.000000,6.000000,0.000000,69.000000,2.000000,0.000000,1.000000,0.0,1.000000,...,120.000000,0.000000,780.000000,120.000000,700.000000,0.000000,0.0,0.000000,0.000000,0.0
75%,0.000000,5.000000,6.000000,0.000000,69.000000,2.000000,0.000000,2.000000,0.0,1.000000,...,120.000000,0.000000,1080.250000,120.000000,980.000000,0.000000,0.0,0.000000,0.000000,0.0
max,18.000000,5.000000,6.000000,180.000000,128.000000,2.000000,401.000000,4.000000,0.0,3.000000,...,300.000000,1330.000000,1439.000000,180.000000,1436.000000,1380.000000,0.0,0.000000,0.000000,0.0

In [28]:
# Combine the two DataFrames using the index
result_df = pd.concat([df, meta_df], axis=1).drop('meta', axis=1)

In [29]:
# check the duplicates
result_df[result_df.duplicated(keep="first")]

Empty DataFrame
Columns: [table, guid, Fin, Sea, TMG, Efis, FNPT, Make, Run2, Class, Model, Power, Seats, Active, Kg5700, Rating, Company, Complex, CondLog, FavList, Category, HighPerf, SubModel, Aerobatic, RefSearch, Reference, Tailwheel, DefaultApp, DefaultLog, DefaultOps, DeviceCode, AircraftCode, DefaultLaunch, Record_Modified, EngType, EngGroup, AFCat, AFCode, AFIATA, AFICAO, AFName, TZCode, Latitude, ShowList, AFCountry, Longitude, NotesUser, RegionUser, ElevationFT, City, AFFAA, Notes, UserEdit, PF, Pax, Fuel, DeIce, Route, ToDay, minU1, minU2, minU3, minU4, minXC, ArrRwy, DepRwy, LdgDay, LiftSW, P1Code, P2Code, P3Code, P4Code, Report, TagOps, ToEdit, minAIR, minCOP, minIFR, minIMT, minPIC, minREL, minSFR, ArrCode, DateUTC, DepCode, HobbsIn, Holding, Pairing, Remarks, SignBox, ToNight, UserNum, minDUAL, minEXAM, CrewList, DateBASE, FuelUsed, HobbsOut, LdgNight, NextPage, ...]
Index: []

[0 rows x 139 columns]

In [30]:
# see all the column names combined to match with the logbook
result_df.columns.values

array(['table', 'guid', 'Fin', 'Sea', 'TMG', 'Efis', 'FNPT', 'Make',
       'Run2', 'Class', 'Model', 'Power', 'Seats', 'Active', 'Kg5700',
       'Rating', 'Company', 'Complex', 'CondLog', 'FavList', 'Category',
       'HighPerf', 'SubModel', 'Aerobatic', 'RefSearch', 'Reference',
       'Tailwheel', 'DefaultApp', 'DefaultLog', 'DefaultOps',
       'DeviceCode', 'AircraftCode', 'DefaultLaunch', 'Record_Modified',
       'EngType', 'EngGroup', 'AFCat', 'AFCode', 'AFIATA', 'AFICAO',
       'AFName', 'TZCode', 'Latitude', 'ShowList', 'AFCountry',
       'Longitude', 'NotesUser', 'RegionUser', 'ElevationFT', 'City',
       'AFFAA', 'Notes', 'UserEdit', 'PF', 'Pax', 'Fuel', 'DeIce',
       'Route', 'ToDay', 'minU1', 'minU2', 'minU3', 'minU4', 'minXC',
       'ArrRwy', 'DepRwy', 'LdgDay', 'LiftSW', 'P1Code', 'P2Code',
       'P3Code', 'P4Code', 'Report', 'TagOps', 'ToEdit', 'minAIR',
       'minCOP', 'minIFR', 'minIMT', 'minPIC', 'minREL', 'minSFR',
       'ArrCode', 'DateUTC', 'DepCode', 'HobbsIn', 'Holding', 'Pairing',
       'Remarks', 'SignBox', 'ToNight', 'UserNum', 'minDUAL', 'minEXAM',
       'CrewList', 'DateBASE', 'FuelUsed', 'HobbsOut', 'LdgNight',
       'NextPage', 'TagDelay', 'Training', 'UserBool', 'UserText',
       'minINSTR', 'minNIGHT', 'minPICUS', 'minTOTAL', 'ArrOffset',
       'DateLOCAL', 'DepOffset', 'TagLaunch', 'TagLesson', 'ToTimeUTC',
       'ArrTimeUTC', 'BaseOffset', 'DepTimeUTC', 'FlightCode',
       'LdgTimeUTC', 'FuelPlanned', 'NextSummary', 'TagApproach',
       'ArrTimeSCHED', 'DepTimeSCHED', 'FlightNumber', 'FlightSearch',
       'Cargo', 'UserAPI', 'Facebook', 'LinkedIn', 'PilotRef',
       'PilotCode', 'PilotName', 'PilotEMail', 'PilotPhone',
       'Certificate', 'PhoneSearch', 'PilotSearch', 'RosterAlias'],
      dtype=object)

In [38]:
# save modified dataframe to a json
df.to_json('modified_pilotlog.json', orient='records')